<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>ストップウォッチ</title>
 </head>

 <body>
<div id="clock">00:00:00</div>
<form>
<input type="button" id="start" value="Start">
<input type="button" id="stop" value="Stop" disabled>
<input type="button" id="restart" value="Restart" disabled>
<input type="button" id="reset" value="Reset" disabled>
<script src="https://code.jquery.com/jquery-2.0.3.js"></script>
</form>

<!--
    <div>
        {% for entry in entries %}
        <div>
            <div>id: {{ entry.id }}, text: {{ entry.text }}</div>
            <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{ entry.id }}">
                <button>delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
-->
 <script src="../static/js/stopwatch.js"></script>
 </body>
</html>